# Pandas Foundations

___Resources___

https://bit.ly/ZvcIe9 - pandas documentation

https://bit.ly/2tfdyet - pandas documentation - Intro to Data Structures

In [1]:
## Base imports - common alias for pandas is pd and np for numpy

import pandas as pd
import numpy as np
pd.set_option('max_columns', 50)

## Pandas Data Types

Broadly speaking, data can be classed as continuous or categorical. 

__Continuous__ -  numeric and represents some form of measurement

__Categorical__ - discrete, finite amounts of values

In pandas there are distinct data types. Almost all data types are built directly from NumPy. This makes it easier to integrate pandas and NumPy operations.

| Data Type Name | NumPy/pandas object | Pandas string name | Notes |
| --- | --- | --- | --- |
| Boolean | _np.bool_ | _boolean_ | -  Stored as a single byte 0/1 <br> - True or False values |
| Integer | _np.int_ | _int_ | -  Default is 64 bits |
| Float | _np.float_ | _float_ | -  Default is 64 bits |
| Complex | _np.complex_ | _complex_ | - Rarely used |
| Object | _np.object_ | _O, object_ | - Typically strings <br> -  Catch-all for columns with multiple <br> different types or other Python objects |
| Datetime | _np.datetime64,_ <br> _pd.Timestamp_ | _datetime64_ | -  Specific moment in time <br> (nanosecond precision) |
| Timedelta | _np.timedelta64,_ <br> _pd.Timedelta_ | _timedelta64_ | -  Duration of time <br> (days to nanoseconds) |
| Categorical | _pd.categorical_ | _category_ | -  Useful for object columns with <br> relatively few unique values |

Pandas defaults its core numeric types - integers and floats - to 64 bits regardless of the size necessary for all data to fit in memory.

**Quick win** - If stuggling with a large dataset, look to set the data type of individual columns for memory reduction.

## Pandas Data Structures

### Series

A `Series` is a one-dimensional array of __indexed__ data capable of holding any data type. The axis labels are collectively referred to as the index. It is this index that differentiates a Series from a normal array.

In [2]:
# Simple series - created from a list

obj = pd.Series([3,6,9,12,15])
obj

0     3
1     6
2     9
3    12
4    15
dtype: int64

By default, each item will receive an index label from 0 to N, where N is the length of the`Series`minus one. However because of the **explicit** nature of the index, it need not be an integer.

In [3]:
# Alternatively - we can specify an index

population = pd.Series([66900000, 53000000, 60600000, 82670000, 46560000], index= ['France', 'England', 'Italy', 'Germany', 'Spain'])
population

France     66900000
England    53000000
Italy      60600000
Germany    82670000
Spain      46560000
dtype: int64

### DataFrames

A`DataFrame`represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

-  A DataFrame has both a row and a column index
-  Akin to a spreadsheet
-  you can think of a`DataFrame`as a sequence of aligned`Series`objects. (aligned since they share the same index).

In [4]:
# New series listing the biggest export of the 5 countries from above

In [5]:
exports = pd.Series(['Pharmaceuticals', 'Plastics', 'Refined Petroleum', 'Cars', 'Aircraft'], index= ['England', 'Spain', 'Italy', 'Germany', 'France'])
exports

England      Pharmaceuticals
Spain               Plastics
Italy      Refined Petroleum
Germany                 Cars
France              Aircraft
dtype: object

In [6]:
# Population Series defined earlier

population

France     66900000
England    53000000
Italy      60600000
Germany    82670000
Spain      46560000
dtype: int64

Now we have two`Series`, exports and the population`Series`from before. We can use a dictionary to construct a single two-dimensional object containing this information:

In [7]:
countries = pd.DataFrame({'population':population, 'exports':exports})
countries

                   exports  population
England    Pharmaceuticals    53000000
France            Aircraft    66900000
Germany               Cars    82670000
Italy    Refined Petroleum    60600000
Spain             Plastics    46560000

Note the indexes have automatically aligned during the creation of the`DataFrame`. This is part of what makes Pandas data structures so efficient for data operations.

In [8]:
# Simple DataFrame - dictionary of equal sized lists or numpy arrays

data = {'Country': ['France', 'England', 'Italy', 'Germany', 'Spain'],
       'Population': [66900000, 53000000, 60600000, 82670000, 46560000],
       'Year': [2018, 2018, 2018, 2018, 2018]}

df = pd.DataFrame(data)

In [9]:
df

   Country  Population  Year
0   France    66900000  2018
1  England    53000000  2018
2    Italy    60600000  2018
3  Germany    82670000  2018
4    Spain    46560000  2018

By default the index is automatically assigned and the columns are sorted by index order

In [10]:
# Alternatively we can be more verbose, specifying parameters to the DataFrame method

df = pd.DataFrame(data, index = data['Country'], columns = ['Year', 'Population', 'World Cup Winner'] )
df

         Year  Population World Cup Winner
France   2018    66900000              NaN
England  2018    53000000              NaN
Italy    2018    60600000              NaN
Germany  2018    82670000              NaN
Spain    2018    46560000              NaN

### Index Objects

Pandas`Index`objects are responsible for holding the axis labels and other metadata (axis name/names). They are implemented using hash tables that allow for very fast selection and data alignment. 

-  Index objects are immutable and thus can't be modified by the user
-  Any array or sequence that is referenced as an Index when constructing a Series/DataFrame is internally converted to an Index object
- Similar to Python sets (intersection /union) but dissimilar in that they can contain duplicate labels

In [11]:
# Example of index immutability - any function that alters an index will return a new index. 
# Immutable objects can't be changed after they have been created

df.index[0] = 'Portugal'

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple`DataFrames`and`Series`, without the potential for side effects from inadvertent index modification.

## The Anatomy of a DataFrame

<img src="./Images/Anatomy_DataFrame.png">

In [12]:
movies = pd.read_table('./Data/imdbratings.csv', delimiter=',')

In [13]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [14]:
# dtypes attribute - displays each column and it's data type

movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

### Accessing the main `DataFrame` components

In [15]:
columns = movies.columns
index = movies.index
data = movies.values

In [16]:
columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [17]:
index

RangeIndex(start=0, stop=979, step=1)

In [18]:
data

array([[9.3, 'The Shawshank Redemption', 'R', 'Crime', 142,
        "[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']"],
       [9.2, 'The Godfather', 'R', 'Crime', 175,
        "[u'Marlon Brando', u'Al Pacino', u'James Caan']"],
       [9.1, 'The Godfather: Part II', 'R', 'Crime', 200,
        "[u'Al Pacino', u'Robert De Niro', u'Robert Duvall']"],
       ...,
       [7.4, 'Master and Commander: The Far Side of the World', 'PG-13',
        'Action', 138,
        "[u'Russell Crowe', u'Paul Bettany', u'Billy Boyd']"],
       [7.4, 'Poltergeist', 'PG', 'Horror', 114,
        '[u\'JoBeth Williams\', u"Heather O\'Rourke", u\'Craig T. Nelson\']'],
       [7.4, 'Wall Street', 'R', 'Crime', 126,
        "[u'Charlie Sheen', u'Michael Douglas', u'Tamara Tunie']"]],
      dtype=object)

## The Anatomy of a Series

<img src="./Images/Anatomy_Series.png">

### Accessing the main `Series` components

In [20]:
# Select a single column of data as a Series - will go into more detail later

film_name = movies['title']
film_name.head()

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [21]:
# Check that film_name is infact a Series

type(film_name)

pandas.core.series.Series

In [22]:
# There is no columns index, however the column name has been taken as the Series name attribute

index = film_name.index
data = film_name.values
name = film_name.name

In [23]:
index

RangeIndex(start=0, stop=979, step=1)

In [24]:
data

array(['The Shawshank Redemption', 'The Godfather',
       'The Godfather: Part II', 'The Dark Knight', 'Pulp Fiction',
       '12 Angry Men', 'The Good, the Bad and the Ugly',
       'The Lord of the Rings: The Return of the King',
       "Schindler's List", 'Fight Club',
       'The Lord of the Rings: The Fellowship of the Ring', 'Inception',
       'Star Wars: Episode V - The Empire Strikes Back', 'Forrest Gump',
       'The Lord of the Rings: The Two Towers', 'Interstellar',
       "One Flew Over the Cuckoo's Nest", 'Seven Samurai', 'Goodfellas',
       'Star Wars', 'The Matrix', 'City of God', "It's a Wonderful Life",
       'The Usual Suspects', 'Se7en', 'Life Is Beautiful',
       'Once Upon a Time in the West', 'The Silence of the Lambs',
       'Leon: The Professional', 'City Lights', 'Spirited Away',
       'The Intouchables', 'Casablanca', 'Whiplash', 'American History X',
       'Modern Times', 'Saving Private Ryan', 'Raiders of the Lost Ark',
       'Rear Window', 'Psycho', 'The Green Mile', 'Sunset Blvd.',
       'The Pianist', 'The Dark Knight Rises', 'Gladiator',
       'Terminator 2: Judgment Day', 'Memento', 'Taare Zameen Par',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'The Departed', 'Cinema Paradiso', 'Apocalypse Now',
       'The Great Dictator', 'The Prestige', 'Back to the Future',
       'The Lion King', 'The Lives of Others', 'Alien', 'Paths of Glory',
       'Django Unchained', '3 Idiots', 'Grave of the Fireflies',
       'The Shining', 'M', 'WALL-E', 'Witness for the Prosecution',
       'Munna Bhai M.B.B.S.', 'American Beauty', 'Das Boot',
       'Princess Mononoke', 'Amelie', 'North by Northwest',
       'Rang De Basanti', 'Jodaeiye Nader az Simin', 'Citizen Kane',
       'Aliens', 'Vertigo', 'Oldeuboi', 'Once Upon a Time in America',
       'Double Indemnity', 'Star Wars: Episode VI - Return of the Jedi',
       'Toy Story 3', 'Braveheart', 'To Kill a Mockingbird',
       'Requiem for a Dream', 'Lawrence of Arabia', 'A Clockwork Orange',
       'Bicycle Thieves', 'The Kid', 'Swades', 'Reservoir Dogs',
       'Eternal Sunshine of the Spotless Mind', 'Taxi Driver',
       'Dilwale Dulhania Le Jayenge', "Singin' in the Rain",
       'All About Eve', 'Yojimbo', 'The Sting', 'Rashomon', 'Amadeus',
       'The Treasure of the Sierra Madre',
       'Monty Python and the Holy Grail', 'Full Metal Jacket',
       'The Apartment', 'Ikiru', 'The Third Man', 'Snatch.',
       'For a Few Dollars More', 'Metropolis', 'Dil Chahta Hai',
       '2001: A Space Odyssey', 'Some Like It Hot', 'L.A. Confidential',
       'Batman Begins', 'Inglourious Basterds', 'Scarface',
       'Mr. Smith Goes to Washington', 'Toy Story',
       'Indiana Jones and the Last Crusade', 'Unforgiven',
       'The Great Escape', 'Jagten', 'On the Waterfront', 'The General',
       'Raging Bull', 'Downfall', 'Up', 'Wild Strawberries',
       'The Gold Rush', 'Ran', 'Chinatown', 'My Neighbor Totoro',
       'Judgment at Nuremberg', 'Barfi!', 'The Seventh Seal', 'Heat',
       "Pan's Labyrinth", 'The Bridge on the River Kwai', 'Die Hard',
       'Good Will Hunting', 'The Wages of Fear',
       'The Secret in Their Eyes', 'Lagaan: Once Upon a Time in India',
       'The Wolf of Wall Street', 'It Happened One Night', 'Blade Runner',
       'Warrior', "Howl's Moving Castle", 'The Elephant Man', 'Rebecca',
       'Incendies', 'Lock, Stock and Two Smoking Barrels',
       'V for Vendetta', 'The Big Lebowski', 'Cool Hand Luke',
       'Relatos salvajes', 'Casino', 'Gone with the Wind', 'Gone Girl',
       'The Best Years of Our Lives', 'How to Train Your Dragon',
       'Diabolique', 'Gran Torino', 'Rush', 'Into the Wild',
       'My Sassy Girl', 'The Deer Hunter', 'Mary and Max',
       "Hachi: A Dog's Tale", 'The Maltese Falcon', 'A Beautiful Mind',
       'Dial M for Murder', 'Trainspotting',
       'Tae Guk Gi: The Brotherhood of War', 'Persona', 'Touch of Evil',
       'Fargo', 'The Avengers', 'The 400 Blows', 'The Princess Bride',
       'Hotel Rwanda', 'Stalker', 'The Battle of Algiers', 'Underground',
       'Fanny and Alexander', 'Network', 'The Thing',
       'Butch Cassidy and the Sundance Kid', 'The Grapes of Wrath',
       'Black Cat, White Cat', 'Life of Brian', 'The Sixth Sense',
       'Finding Nemo', 'Nausicaa of the Valley of the Wind',
       'Kingsman: The Secret Service', 'Platoon',
       'Guardians of the Galaxy', 'In the Name of the Father',
       'Kill Bill: Vol. 1', 'No Country for Old Men', 'Le Samourai',
       '12 Years a Slave', "La leggenda del pianista sull'oceano",
       '8 1/2', 'Ben-Hur', 'Amores Perros', 'Stand by Me',
       'What Ever Happened to Baby Jane?', 'Annie Hall',
       'The Imitation Game', 'Laura', 'Departures', 'Infernal Affairs',
       'There Will Be Blood', 'The Grand Budapest Hotel', 'La Strada',
       'Sin City', 'Memories of Murder', 'Donnie Darko',
       "Who's Afraid of Virginia Woolf?", 'Gandhi', 'Solaris',
       'Harry Potter and the Deathly Hallows: Part 2', 'Paris, Texas',
       'The Wizard of Oz', '3-Iron', 'Boyhood', 'Million Dollar Baby',
       'The Last Picture Show', 'Strangers on a Train',
       'Cat on a Hot Tin Roof', 'La Dolce Vita', 'Chungking Express',
       'The Night of the Hunter', 'La Haine', 'Yip Man', 'High Noon',
       'Notorious', 'Before Sunrise', 'Elite Squad: The Enemy Within',
       'The Bourne Ultimatum', 'Castle in the Sky', 'The Celebration',
       'Spring, Summer, Fall, Winter... and Spring', 'Shutter Island',
       'Barry Lyndon', 'Stalag 17', 'Three Colors: Red',
       'X-Men: Days of Future Past', 'Sleuth', 'In the Mood for Love',
       'The Man Who Shot Liberty Valance', 'Arsenic and Old Lace',
       'The Big Sleep', 'Roman Holiday', 'The Philadelphia Story',
       'Akira', 'Anatomy of a Murder', 'The Cabinet of Dr. Caligari',
       'The Help', 'The Sea Inside', 'Elite Squad', 'The Hustler',
       'Rio Bravo', 'Twelve Monkeys', 'Harvey', 'A Christmas Story',
       'Jaws', 'The Raid 2', 'Rocky', 'Wings of Desire',
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'The Killing', 'Papillon', "The King's Speech", 'Groundhog Day',
       'A Fistful of Dollars', 'Monsters, Inc.', 'Dog Day Afternoon',
       'The Perks of Being a Wallflower', 'Young Frankenstein',
       'The Terminator', 'Harold and Maude', 'Before Sunset',
       'A Streetcar Named Desire', 'Bringing Up Baby',
       'The Diving Bell and the Butterfly', 'His Girl Friday',
       'Sling Blade', 'All Quiet on the Western Front', 'Prisoners',
       'The Return', 'The Manchurian Candidate', 'Duck Soup',
       'Beauty and the Beast', 'The Truman Show', 'The Wild Bunch',
       'Rope', 'The Graduate', 'Jurassic Park', 'Dogville', 'Furious 7',
       'Patton', 'The Nightmare Before Christmas', 'Being There',
       'Persepolis', 'This Is Spinal Tap', 'East of Eden',
       'Pink Floyd The Wall', 'Blood Diamond', 'Big Fish',
       'Slumdog Millionaire', 'Star Trek', 'The Straight Story',
       'Crimes and Misdemeanors', 'Charade', 'JFK', 'Dawn of the Dead',
       'Magnolia', 'Manhattan', 'Central Station', 'Brazil',
       'The Exorcist', 'Her', 'Dancer in the Dark', 'Rain Man',
       'Talk to Her', 'The Adventures of Robin Hood',
       'Aguirre, the Wrath of God', 'In the Heat of the Night',
       'Nosferatu', 'Black Swan', 'Ratatouille', 'The Searchers',
       'Short Term 12', 'Doctor Zhivago', 'Life of Pi',
       "All the President's Men", 'Battleship Potemkin',
       'Dances with Wolves', 'Catch Me If You Can', 'Cinderella Man',
       'Dead Poets Society', 'Ghost in the Shell', 'Head-On',
       "No Man's Land", 'Dallas Buyers Club', 'Days of Heaven',
       'The Sound of Music', 'District 9', 'Shadow of a Doubt',
       'Frankenstein', 'Shaun of the Dead', 'Night of the Living Dead',
       'Kill Bill: Vol. 2', 'Secrets & Lies', 'The Artist', 'Aladdin',
       'The Lady Vanishes', 'The Hobbit: The Desolation of Smaug',
       'Let the Right One In', 'Fiddler on the Roof',
       'The Hobbit: An Unexpected Journey', 'Three Colors: Blue',
       "Rosemary's Baby", 'Mystic River', 'Serenity', 'Amarcord',
       'Planet of the Apes', 'True Romance', 'Hannah and Her Sisters',
       'Moon', 'Before Midnight', 'My Name Is Khan', 'Scent of a Woman',
       'Mulholland Dr.', 'King Kong', 'The Fault in Our Stars',
       'The Incredibles', 'Edward Scissorhands', 'Casino Royale',
       'How to Train Your Dragon 2', 'In Bruges', 'The Untouchables',
       'Breathless', 'Spartacus', 'The Iron Giant', 'Midnight Cowboy',
       'The Blues Brothers', 'Freaks', 'Letters from Iwo Jima',
       'Edge of Tomorrow', 'Glory', 'The African Queen',
       'Birdman: Or (The Unexpected Virtue of Ignorance)', 'Big Hero 6',
       'Almost Famous', 'The Notebook', 'The Conversation',
       'The Breakfast Club', 'The Pursuit of Happyness', 'The Killer',
       'Once', 'Ying xiong', 'The Remains of the Day',
       'The Bride of Frankenstein', 'The Wrestler', 'Nightcrawler',
       'Gravity', 'Hard Boiled', 'Bonnie and Clyde',
       'The Bourne Identity', 'Key Largo', 'Nine Queens', 'Toy Story 2',
       'The Killing Fields', 'All About My Mother',
       'Cowboy Bebop: The Movie', 'Ed Wood', 'Stagecoach',
       'The Man Who Would Be King', 'The Outlaw Josey Wales',
       'Children of Men', 'The Insider', 'The Right Stuff', 'Badlands',
       'A Prophet', '4 Months, 3 Weeks and 2 Days', 'Le passe',
       'The Fall', 'Breaking the Waves', 'Mr. Nobody', 'Crash', 'Avatar',
       'Iron Man', 'Do the Right Thing', "Carlito's Way",
       'Crouching Tiger, Hidden Dragon', 'Lilya 4-Ever', 'The Chorus',
       'The Boondock Saints', "Miller's Crossing", 'Walk the Line',
       'Shrek', 'My Fair Lady', 'The Ten Commandments', 'The Fighter',
       'Captain Phillips', 'Cabaret', 'Halloween', 'My Left Foot',
       'Miracle on 34th Street', 'The Man from Nowhere',
       'Toki o kakeru shojo', 'Little Miss Sunshine', 'Taken',
       'Blue Is the Warmest Color', 'Boogie Nights', 'Hot Fuzz',
       "Ferris Bueller's Day Off", "The World's Fastest Indian",
       "Kiki's Delivery Service", 'Down by Law', 'Glengarry Glen Ross',
       'Clerks', "Adam's Apples", 'The Girl with the Dragon Tattoo',
       'The 39 Steps', 'E.T. the Extra-Terrestrial', 'Tombstone',
       'Predator', 'Tangled', "Guess Who's Coming to Dinner",
       'Ordinary People', 'The Best Offer', 'Silver Linings Playbook',
       'Hamlet', 'Amour', 'I Saw the Devil', 'The Motorcycle Diaries',
       'Office Space', 'Evil', 'The Girl with the Dragon Tattoo',
       'Withnail & I', 'The Day the Earth Stood Still', 'Black Book',
       'Evil Dead II', 'Kaze tachinu', 'Star Trek Into Darkness',
       'The Triplets of Belleville', 'Open Your Eyes',
       'The Magnificent Seven', 'Drive', 'Mississippi Burning',
       'The Lego Movie', 'The Day of the Jackal', 'Misery',
       'Willy Wonka & the Chocolate Factory', 'Fantasia', 'Gattaca',
       'American Gangster', 'Porco Rosso', 'The French Connection',
       'The Boy in the Striped Pajamas', 'Empire of the Sun',
       'About Time', 'Blue Velvet', 'In America',
       'The Curious Case of Benjamin Button', 'The Last of the Mohicans',
       'Moonrise Kingdom', 'Rebel Without a Cause', 'Fantastic Mr. Fox',
       'Invasion of the Body Snatchers', 'October Sky', 'Dirty Harry',
       'Ghostbusters', 'Captain America: The Winter Soldier',
       'Wreck-It Ralph', 'The Hangover', 'Back to the Future Part II',
       'Belle de Jour', 'O Brother, Where Art Thou?', 'Repulsion',
       'Airplane!', 'Pride & Prejudice', 'Zulu', 'Night on Earth',
       'From Here to Eternity', 'Apocalypto', 'Atonement',
       'The Dirty Dozen', 'X-Men: First Class', 'Run Lola Run',
       'The Longest Day', 'Zelig', 'The Last Emperor', 'The Goonies',
       'The White Ribbon', 'The Fugitive', 'The Color Purple',
       'South Park: Bigger Longer & Uncut', '(500) Days of Summer',
       'Lost in Translation', 'Argo', 'Blazing Saddles',
       "Breakfast at Tiffany's", 'Finding Neverland', 'The Experiment',
       'Lucky Number Slevin', 'The Theory of Everything',
       'Harry Potter and the Prisoner of Azkaban', 'Kung Fu Hustle',
       'Being John Malkovich', 'The Social Network', '3:10 to Yuma',
       'The Name of the Rose', 'Mary Poppins', 'The Game', 'Changeling',
       'Donnie Brasco', 'Serpico', "What's Eating Gilbert Grape",
       'Goldfinger', 'Nebraska', 'The Sandlot', 'Boyz n the Hood',
       'The Bourne Supremacy', 'Skyfall', 'Ray', '300', 'A Bronx Tale',
       'The Birds', 'Battle Royale', 'Control', 'Kramer vs. Kramer',
       'Deliverance', "Ocean's Eleven", 'As Good as It Gets',
       'Awakenings', 'The King of Comedy', 'Man on Fire', 'Sabrina',
       'Dark City', 'Good Bye Lenin!', 'Remember the Titans',
       'Star Trek II: The Wrath of Khan', 'Road to Perdition', 'Rushmore',
       'The Machinist', 'Flipped', 'The Count of Monte Cristo',
       'Detachment', 'Love Me If You Dare', 'Dead Man',
       'The Purple Rose of Cairo', '21 Grams', '50/50', 'Kick-Ass',
       'Delicatessen', 'Barton Fink', 'The Last King of Scotland',
       'Adaptation.', 'A Very Long Engagement', 'Mysterious Skin',
       'Stardust', 'Black Hawk Down', 'Paprika',
       'Fear and Loathing in Las Vegas', 'Frost/Nixon',
       'Enter the Dragon', 'Short Cuts', "A Hard Day's Night",
       'The Last Samurai', 'The Station Agent', 'Zombieland',
       'Sympathy for Mr. Vengeance', 'Despicable Me', 'Shane',
       'Forbidden Planet', 'Titanic', 'Gone Baby Gone', 'The Dinner Game',
       'Dawn of the Planet of the Apes', '25th Hour', 'Ponyo', 'Shine',
       'The Blind Side', 'Brokeback Mountain', 'Cast Away', 'Malcolm X',
       'Show Me Love', 'Boy A', 'The Warriors',
       'Close Encounters of the Third Kind', 'Match Point',
       'Training Day', 'The Butterfly Effect',
       'The City of Lost Children', 'Billy Elliot', 'Love Actually',
       'The Producers', 'Harry Potter and the Deathly Hallows: Part 1',
       'The Visitor', 'Philadelphia', 'Sense and Sensibility',
       'Three Colors: White', 'La grande bellezza', 'Primal Fear',
       'Where Eagles Dare', 'Dazed and Confused', 'Blood Simple.',
       'This Is England', 'Fearless', 'Dangerous Liaisons', 'Saw',
       'Snow White and the Seven Dwarfs', 'Coraline',
       'The Hunger Games: Catching Fire', "Sophie's Choice",
       'La Vie en Rose', 'Star Wars: Episode III - Revenge of the Sith',
       'True Grit', 'After Hours', 'Frozen', 'Lolita', 'Eastern Promises',
       'Midnight in Paris', 'The Muppet Christmas Carol',
       'Who Framed Roger Rabbit', 'Sympathy for Lady Vengeance',
       'Grindhouse', 'In a Better World', 'Blow-Up',
       'The Secret World of Arrietty', 'Kiss Kiss Bang Bang',
       'Lost Highway', 'Zodiac', 'Les Miserables', 'Moulin Rouge!',
       'Whale Rider', 'End of Watch', 'Philomena', 'Fury', 'The Big Blue',
       'First Blood', 'Minority Report', 'Spellbound', 'The Wicker Man',
       'Seven Pounds', 'Midnight Express', "Kelly's Heroes", 'MASH',
       'The Player', 'Traffic', 'Y Tu Mama Tambien',
       'Stranger Than Fiction', 'Inside Man', '127 Hours',
       'The Fifth Element', 'Milk', 'United 93', 'Jin ling shi san chai',
       'Dracula', 'High Plains Drifter', 'I Am Sam',
       'Fried Green Tomatoes', 'Watchmen', '28 Days Later...',
       'The Illusionist', 'Superbad', 'The Godfather: Part III',
       'The Royal Tenenbaums', 'The Jungle Book', 'Thank You for Smoking',
       'Man Bites Dog', 'A Few Good Men', 'The Legend of Drunken Master',
       'The Kite Runner', 'When Harry Met Sally...', 'Munich',
       'House of Sand and Fog', 'Lethal Weapon', 'Animal House',
       'Lord of War', 'Blow', 'Sherlock Holmes',
       'Harry Potter and the Goblet of Fire', 'La piel que habito',
       'The Crow', 'West Side Story', 'The Thin Red Line',
       'American Psycho', 'The Blind Swordsman: Zatoichi',
       'The Last Temptation of Christ',
       'The Naked Gun: From the Files of Police Squad!', 'The Others',
       'The Party', 'Army of Darkness', 'The Hurt Locker',
       'The Raid: Redemption', 'Volver', 'Following', 'Kung Fu Panda',
       'Mad Max 2: The Road Warrior', 'Jusan-nin no shikaku',
       "The Man Who Wasn't There", 'The Counterfeiters',
       'The Hunt for Red October', 'Lone Survivor', 'A Fish Called Wanda',
       'The Impossible', 'Garden State', 'Escape from Alcatraz',
       'Apollo 13', 'Lust, Caution', 'Selma', 'Funny Games', 'The Abyss',
       'Robin Hood', 'Enemy at the Gates', 'Falling Down',
       'Little Children', 'Hunger',
       'Indiana Jones and the Temple of Doom', 'Ip Man 2',
       'The Little Mermaid', "It's a Mad, Mad, Mad, Mad World",
       'The Reader', 'The Omen', 'A Royal Affair', 'Braindead',
       'Secondhand Lions', 'Disconnect', 'A Single Man', 'Hoosiers',
       'Moneyball', 'The Book Thief', 'Die Hard: With a Vengeance',
       'Interview with the Vampire: The Vampire Chronicles',
       'Midnight Run', 'An American Werewolf in London',
       'The Great Debaters', 'Tucker and Dale vs. Evil',
       'Dead Man Walking', 'The Piano', 'The Town',
       'Rise of the Planet of the Apes', "Boys Don't Cry", 'Ice Age',
       'Of Mice and Men', 'Sideways', 'High Fidelity',
       'The Meaning of Life', 'Hugo', 'Leaving Las Vegas',
       'The Evil Dead', 'Collateral', 'Planes, Trains & Automobiles',
       'Hodejegerne', 'Field of Dreams', 'Batman', 'Tell No One',
       'Ghost Dog: The Way of the Samurai', 'Chaplin', 'Keith', 'Juno',
       'The Assassination of Jesse James by the Coward Robert Ford',
       'The Fisher King', 'House of Flying Daggers', 'The Hours',
       'The Damned United', 'Star Trek: First Contact', 'The Natural',
       'The Hobbit: The Battle of the Five Armies', 'Equilibrium',
       'August Rush', 'Saving Mr. Banks', 'The Hurricane',
       "Jacob's Ladder", 'The Curse of the Were-Rabbit',
       'Christmas Vacation', 'Good Night, and Good Luck.', 'Straw Dogs',
       '42', 'Rudy', 'Sleepers', 'The Wind That Shakes the Barley',
       'Gangs of New York', 'Elizabeth', 'Green Street Hooligans',
       'Reign Over Me', 'RoboCop', 'The Life of David Gale',
       'Life as a House', 'Despicable Me 2', 'Jackie Brown',
       'Menace II Society', 'The Class', 'Bullets Over Broadway',
       'American Splendor', 'Perfume: The Story of a Murderer',
       'Cloud Atlas', 'Marathon Man', 'Pinocchio', 'The Painted Veil',
       'A Simple Plan', 'The Conjuring', 'The Man Who Knew Too Much',
       'Quiz Show', 'American Graffiti', 'The Bridges of Madison County',
       'Gallipoli', "L'illusionniste", 'Miracle', 'Maria Full of Grace',
       'Scott Pilgrim vs. the World', 'Pleasantville',
       'Sherlock Holmes: A Game of Shadows', 'Doubt', 'The Fly',
       'The Orphanage', 'Malena', 'Three Days of the Condor', '[Rec]',
       'A Perfect World', 'To Catch a Thief', 'Best in Show',
       'Everything Is Illuminated', 'A Nightmare on Elm Street',
       'The Ice Storm', 'X2', 'We Need to Talk About Kevin', 'Felon',
       'Still Alice', 'Rust and Bone', 'Freedom Writers',
       'Legends of the Fall', "Buffalo '66", 'The Constant Gardener',
       'My Cousin Vinny', 'The Texas Chain Saw Massacre', 'Mulan',
       'A History of Violence', 'Open Range', 'Total Recall', 'Pi',
       "The Devil's Backbone", 'The Aviator', "Devil's Advocate",
       'The Adventures of Priscilla, Queen of the Desert',
       'Harry Potter and the Half-Blood Prince', 'Fruitvale Station',
       'In the Bedroom', 'Source Code', 'Biutiful',
       'From Russia with Love', 'Calvary', 'The Mission', 'In the Loop',
       'The Three Burials of Melquiades Estrada', 'Babel', 'Frenzy',
       'Heavenly Creatures',
       'Sweeney Todd: The Demon Barber of Fleet Street', 'Dracula',
       'Looper', 'The Proposition', 'Bullitt',
       "Harry Potter and the Sorcerer's Stone", '2046', 'Transamerica',

In [25]:
# Same as the original DataFrame column name

name

'title'

# Recap
***

1. Pandas has distinct data types that that determine how data is stored and how it can be manipulated. Often, unexpected results are the result of incorrect data types.  


2. Large `DataFrame`? Quick fix is to set the data types of columns on import - this can reduce the strain on memory.  


3. **`Series`** - 1 dimensional array of __indexed__ data. This can be any data type but all values will be stored as the same type.  


4. **`DataFrame`** - Multi dimensional array of __indexed__ data. Can be thought of as an ordered collection of columns. Columns can have different data types to one another.  


5. The index is what differentiates a `Series` from a normal array and the reason why Pandas data structures are so efficient for data operations.  


6. Attributes of `Series`/`DataFrames` contain information regarding key features of the underlying data.

<!--NAVIGATION-->
< [Fundamentals](01_Python_Fundamentals.ipynb) | [Contents](Index.ipynb) | [Pandas IO](03_Pandas_Data_IO.ipynb) >